<body>
     <h1>Home Page</h1>
     <a href="http://localhost:3000/login">
          <button>Login</button>
     </a>
     <a href="http://localhost:3000/registration">
          <button>Registration</button>
     </a>
     <a href="http://localhost:3000/users">
          <button>Users</button>
     </a>
</body>